/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Geist', sans-serif; /* Base font for body */
    background-color: #000; /* Light background */
    color: #fff; /* Dark text color */
    line-height: 1.3; /* Increased line height for readability */
    padding: 20px; /* Padding for body */
    overscroll-behavior: contain; /* Prevents scrolling from 'springing' */
}

}

/* Header Customization */
h1, h2, h3 {
    font-family: 'Geist', sans-serif; /* Custom font for headers */
    color: #fff; /* Primary header color */
    margin-bottom: 10px; /* Space below headers */
}

/* Color Accents */
a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underlines from links */
}

a:hover {
    text-decoration: none; /* Underline on hover */
}

.button {
  font: 16px 500 Arial, sans-serif;
  color: #ffffff;
  background-color: #005be7;
  border: 0.5px solid #ffffff;
  border-radius: 25px;
  outline: none;
  padding: 8px 13px;
    
  cursor: pointer;
  
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border: 1px solid #ffffff;
  padding: 8px 13px;
      background-color: #005be7;

@font-face {
  font-family: "Geist";
  src: url("/Geist-Regular.woff2") format("woff2");
  font-weight: 100 900;   /* range of supported weights */
  font-stretch: 75% 125%; /* optional width range */
  font-style: normal italic;
}
